body {
    background-color: #1E1E1E;
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-align: center;
    color: #FC9918;
    margin-top: 50px;
}

.type img {
    height: 230px;
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 40px;
}

p {
    color: #FC9918;
    font-family: 'poppins';
    display: flex;
}

.type {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-bottom: -20px;
    height: 350px;
}

.slide {
    display: inline-block;
}

.slide:hover {
    height: 280px;
    border: 5px solid #FC9918;
}

.type::-webkit-scrollbar {
    display: none;
}

.feul {
    color: #FC9918;
    text-align: center;
    margin-top: 2%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

span {
    font-size: 2rem;
}

.carburant {
    margin-right: 5%;
}

.carburant:last-child {
    margin-right: 0;
}


/*------gear box------*/

.gear-box {
    color: #FC9918;
    text-align: center;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.gear {
    margin-right: 5%;
}

.gear:last-child {
    margin-right: 0;
}


/*------duration------*/

.duration {
    color: #FC9918;
    text-align: center;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.submit-1 {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.submit {
    background-color: #FC9918;
    color: #1E1E1E;
    padding: 12px 21px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}